html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-color: black;
  color: aliceblue;
}

.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

img {
  width: 180px;
  height: 260px;
}
